<header class="p-3 text-bg-dark">
  <div class="max-width">
    <div class="container align-items-center">
      <div class="d-flex flex-wrap align-items-center justify-content-between">
        <div class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img src="" alt="">
          <h3 class="header-logo">Express</h3>
        </div>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 mx-3" role="search">
          <input type="search" class="form-control form-control-dark text-bg-light px-2 py-1" placeholder="Search..."
            aria-label="Search" />
        </form>

        <ul class="nav-menu nav col-12 col-lg-auto mb-2 mb-md-0 ms-lg-auto">
          <li><a href="#" class="nav-link px-2 text-white">About</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Premium</a></li>
          <li><a href="#" class="nav-link px-2 text-white">+ New Blog</a></li>
        </ul>

        <div class="header-button">
          <a href="/signin"> 
            <button type="button" class="btn btn-outline-light me-2 py-2 px-3">Login</button>
          </a>
          <a href="/signup">
            <button type="button" class="btn btn-warning py-2 px-3">Sign-up</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- home section start -->
<div class="home" id="home">
  <div class="max-width">
    <div class="home-content">
      <div class="row">
        <div class="col-md-6">
          <div class="text1">
            Find Blogs on any topic from millions of writers all over the world
          </div>
          <br>
          <button type="button" class="btn button py-2 px-3 mt-3" style="color: white;">Start Reading</button><BR>
          <img class="grid1" src="../../assets/grid.png" alt="">
        </div>
        <div class="col-md-6 img-contain px-5">
          <!-- <img class="grid3" src="../../assets/grid3.png" alt=""> -->
          <img class="girl-img" src="../../assets/Woman reading a book at night sitting on the window.png" alt="">
          <img class="grid2" src="../../assets/grid2.png" alt="">
        </div>

      </div>
    </div>
  </div>
</div>

<!-- trending blogs section -->
<section class="trending">
  <div class="max-width">
    <div class="container">
      <div class="row">
        <div class="col-11 trending-text">
          Trending this week
        </div>
        <div class="col-1 viewall-text">
          <a href="" style="color: #FF964A;">View all</a>
        </div>
      </div>
      <hr>
      <br>
      <div class="row">
        <div class="col-md-6 py-3">
          <div class="row">
            <div class="col-md-1 trending-numbers">1</div>
            <div class="col-md-7">
              <span class="trending-hashtags">#Fitness</span><br>
              <span class="trending-title">Running a coffee shop and driving positive change</span><br>
              <div class="mt-2">
                <span class="trending-userimg">
                  <img src="../../assets/unsplash_x9cXI2eQLBw.png" alt="">
                </span>
                <span class="trending-username px-3"> Oana Schandler </span>
              </div>
              <div class="mt-2 treding-time">
                <span>20 Aug •</span>
                <span class="px-2"><img src="../../assets/fluent_clock-32-regular.png" alt=""></span>
                <span>7-10 mins</span>
              </div>
            </div>
            <div class="col-md-4">
              <img src="../../assets/image 4.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-md-6 py-3">
          <div class="row">
            <div class="col-md-1 trending-numbers">2</div>
            <div class="col-md-7">
              <span class="trending-hashtags">#Fitness</span><br>
              <span class="trending-title">Running a coffee shop and driving positive change</span><br>
              <div class="mt-2">
                <span class="trending-userimg">
                  <img src="../../assets/unsplash_x9cXI2eQLBw.png" alt="">
                </span>
                <span class="trending-username px-3"> Oana Schandler </span>
              </div>
              <div class="mt-2 trending-time">
                <span>20 Aug •</span>
                <span class="px-2"><img src="../../assets/fluent_clock-32-regular.png" alt=""></span>
                <span>7-10 mins</span>
              </div>
            </div>
            <div class="col-md-4">
              <img src="../../assets/image 4.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-md-6 py-3">
          <div class="row">
            <div class="col-md-1 trending-numbers">3</div>
            <div class="col-md-7">
              <span class="trending-hashtags">#Fitness</span><br>
              <span class="trending-title">Running a coffee shop and driving positive change</span><br>
              <div class="mt-2">
                <span class="trending-userimg">
                  <img src="../../assets/unsplash_x9cXI2eQLBw.png" alt="">
                </span>
                <span class="trending-username px-3"> Oana Schandler </span>
              </div>
              <div class="mt-2 treding-time">
                <span>20 Aug •</span>
                <span class="px-2"><img src="../../assets/fluent_clock-32-regular.png" alt=""></span>
                <span>7-10 mins</span>
              </div>
            </div>
            <div class="col-md-4">
              <img src="../../assets/image 4.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-md-6 py-3">
          <div class="row">
            <div class="col-md-1 trending-numbers">4</div>
            <div class="col-md-7">
              <span class="trending-hashtags">#Fitness</span><br>
              <span class="trending-title">Running a coffee shop and driving positive change</span><br>
              <div class="mt-2">
                <span class="trending-userimg">
                  <img src="../../assets/unsplash_x9cXI2eQLBw.png" alt="">
                </span>
                <span class="trending-username px-3"> Oana Schandler </span>
              </div>
              <div class="mt-2 treding-time">
                <span>20 Aug •</span>
                <span class="px-2"><img src="../../assets/fluent_clock-32-regular.png" alt=""></span>
                <span>7-10 mins</span>
              </div>
            </div>
            <div class="col-md-4">
              <img src="../../assets/image 4.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-md-6 py-3">
          <div class="row">
            <div class="col-md-1 trending-numbers">5</div>
            <div class="col-md-7">
              <span class="trending-hashtags">#Fitness</span><br>
              <span class="trending-title">Running a coffee shop and driving positive change</span><br>
              <div class="mt-2">
                <span class="trending-userimg">
                  <img src="../../assets/unsplash_x9cXI2eQLBw.png" alt="">
                </span>
                <span class="trending-username px-3"> Oana Schandler </span>
              </div>
              <div class="mt-2 treding-time">
                <span>20 Aug •</span>
                <span class="px-2"><img src="../../assets/fluent_clock-32-regular.png" alt=""></span>
                <span>7-10 mins</span>
              </div>
            </div>
            <div class="col-md-4">
              <img src="../../assets/image 4.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-md-6 py-3">
          <div class="row">
            <div class="col-md-1 trending-numbers">6</div>
            <div class="col-md-7">
              <span class="trending-hashtags">#Fitness</span><br>
              <span class="trending-title">Running a coffee shop and driving positive change</span><br>
              <div class="mt-2">
                <span class="trending-userimg">
                  <img src="../../assets/unsplash_x9cXI2eQLBw.png" alt="">
                </span>
                <span class="trending-username px-3"> Oana Schandler </span>
              </div>
              <div class="mt-2 treding-time">
                <span>20 Aug •</span>
                <span class="px-2"><img src="../../assets/fluent_clock-32-regular.png" alt=""></span>
                <span>7-10 mins</span>
              </div>
            </div>
            <div class="col-md-4">
              <img src="../../assets/image 4.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- editor's pick section -->
<section class="editor">
  <div class="max-width">
    <div class="container">
      <div class="row">
        <div class="col-11 editor-text">
          Editor's pick
        </div>
        <div class="col-1 viewall-text">
          <a href="" style="color: #FF964A;">View all</a>
        </div>
      </div>
      <hr>
      <br>
      <div class="row">
        <div class="col-md-4 py-3 px-2">
          <div class="row">
            <div class="mt-2">
              <span class="editors-userimg">
                <img src="../../assets/unsplash_x9cXI2eQLBw.png" alt="">
              </span>
              <span class="editors-username px-3"> Oana Schandler </span>
            </div>
            <img class="my-3" src="../../assets/image 1.png" alt="">
            <div>
              <span class="editors-hashtags">#Fitness</span><br>
              <span class="editors-title">Running a coffee shop and driving positive change</span><br>

              <div class="mt-2 editors-time">
                <span>20 Aug •</span>
                <span class="px-2"><img src="../../assets/fluent_clock-32-regular.png" alt=""></span>
                <span>7-10 mins</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 py-3 px-2">
          <div class="row">
            <div class="mt-2">
              <span class="editors-userimg">
                <img src="../../assets/unsplash_x9cXI2eQLBw.png" alt="">
              </span>
              <span class="editors-username px-3"> Oana Schandler </span>
            </div>
            <img class="my-3" src="../../assets/image 1.png" alt="">
            <div>
              <span class="editors-hashtags">#Fitness</span><br>
              <span class="editors-title">Running a coffee shop and driving positive change</span><br>

              <div class="mt-2 editors-time">
                <span>20 Aug •</span>
                <span class="px-2"><img src="../../assets/fluent_clock-32-regular.png" alt=""></span>
                <span>7-10 mins</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 py-3 px-2">
          <div class="row">
            <div class="mt-2">
              <span class="editors-userimg">
                <img src="../../assets/unsplash_x9cXI2eQLBw.png" alt="">
              </span>
              <span class="editors-username px-3"> Oana Schandler </span>
            </div>
            <img class="my-3" src="../../assets/image 1.png" alt="">
            <div>
              <span class="editors-hashtags">#Fitness</span><br>
              <span class="editors-title">Running a coffee shop and driving positive change</span><br>

              <div class="mt-2 editors-time">
                <span>20 Aug •</span>
                <span class="px-2"><img src="../../assets/fluent_clock-32-regular.png" alt=""></span>
                <span>7-10 mins</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- discover more section -->
<section class="discover">
  <div class="max-width">
    <div class="container">
      <div class="row">
        <div class="col-11 discover-text">
          Discover more
        </div>
        <div class="col-1 viewall-text">
          <a href="" style="color: #FF964A;">View all</a>
        </div>
      </div>
      <hr>
      <br>
      <div class="row">
        <div class="col-md-4 py-3 px-2">
          <div class="row">
            <div class="mt-2">
              <span class="discover-userimg">
                <img src="../../assets/unsplash_x9cXI2eQLBw.png" alt="">
              </span>
              <span class="discover-username px-3"> Oana Schandler </span>
            </div>
            <img class="my-3" src="../../assets/image 1.png" alt="">
            <div>
              <span class="discover-hashtags">#Fitness</span><br>
              <span class="discover-title">Running a coffee shop and driving positive change</span><br>

              <div class="mt-2 discover-time">
                <span>20 Aug •</span>
                <span class="px-2"><img src="../../assets/fluent_clock-32-regular.png" alt=""></span>
                <span>7-10 mins</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 py-3 px-2">
          <div class="row">
            <div class="mt-2">
              <span class="discover-userimg">
                <img src="../../assets/unsplash_x9cXI2eQLBw.png" alt="">
              </span>
              <span class="discover-username px-3"> Oana Schandler </span>
            </div>
            <img class="my-3" src="../../assets/image 1.png" alt="">
            <div>
              <span class="discover-hashtags">#Fitness</span><br>
              <span class="discover-title">Running a coffee shop and driving positive change</span><br>

              <div class="mt-2 discover-time">
                <span>20 Aug •</span>
                <span class="px-2"><img src="../../assets/fluent_clock-32-regular.png" alt=""></span>
                <span>7-10 mins</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 py-3 px-2">
          <div class="row">
            <div class="mt-2">
              <span class="discover-userimg">
                <img src="../../assets/unsplash_x9cXI2eQLBw.png" alt="">
              </span>
              <span class="discover-username px-3"> Oana Schandler </span>
            </div>
            <img class="my-3" src="../../assets/image 1.png" alt="">
            <div>
              <span class="discover-hashtags">#Fitness</span><br>
              <span class="discover-title">Running a coffee shop and driving positive change</span><br>

              <div class="mt-2 discover-time">
                <span>20 Aug •</span>
                <span class="px-2"><img src="../../assets/fluent_clock-32-regular.png" alt=""></span>
                <span>7-10 mins</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- latest section -->
    <div class="row">
      <div class="col-md-8 pr-2 py-3">
        <div>
          <img class="my-3 pr-3" src="../../assets/image 2.png" alt="">
          <div>
            <span class="latest-hashtags">#Fitness</span><br>
            <span class="latest-title">Running a coffee shop and driving positive change</span><br>
            <span class="latest-content">It’s been a while since the last interview we published around here. While I
              constantly reach out to customers to encourage them to tell their stories on our blog, I can understand
              their silence. Small businesses have a lot to carry on their shoulders, and especially these days when the
              turmoil keeps floating around us. </span><a class="read-more" href="">Read more</a>
            <div class="mt-2 latest-time">
              <span>20 Aug •</span>
              <span class="px-2"><img src="../../assets/fluent_clock-32-regular.png" alt=""></span>
              <span>7-10 mins</span>
            </div>
          </div>

          <img class="my-3 pr-3" src="../../assets/image 2.png" alt="">
          <div>
            <span class="latest-hashtags">#Fitness</span><br>
            <span class="latest-title">Running a coffee shop and driving positive change</span><br>
            <span class="latest-content">It’s been a while since the last interview we published around here. While I
              constantly reach out to customers to encourage them to tell their stories on our blog, I can understand
              their silence. Small businesses have a lot to carry on their shoulders, and especially these days when the
              turmoil keeps floating around us. </span><a class="read-more" href="">Read more</a>
            <div class="mt-2 latest-time">
              <span>20 Aug •</span>
              <span class="px-2"><img src="../../assets/fluent_clock-32-regular.png" alt=""></span>
              <span>7-10 mins</span>
            </div>
          </div>

          <img class="my-3 pr-3" src="../../assets/image 2.png" alt="">
          <div>
            <span class="latest-hashtags">#Fitness</span><br>
            <span class="latest-title">Running a coffee shop and driving positive change</span><br>
            <span class="latest-content">It’s been a while since the last interview we published around here. While I
              constantly reach out to customers to encourage them to tell their stories on our blog, I can understand
              their silence. Small businesses have a lot to carry on their shoulders, and especially these days when the
              turmoil keeps floating around us. </span><a class="read-more" href="">Read more</a>
            <div class="mt-2 latest-time">
              <span>20 Aug •</span>
              <span class="px-2"><img src="../../assets/fluent_clock-32-regular.png" alt=""></span>
              <span>7-10 mins</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 px-3 py-3">
        <div class="row pt-2">
          <div class="col-md-9 latest-heading">Latest</div>
          <div class="col-md-3 d-flex flex-column align-items-end justify-content-center">
            <a class="viewall-text" href="#">View all</a>
          </div>
        </div>
        <div class="mt-2">
          <span class="latest-userimg">
            <img src="../../assets/unsplash_x9cXI2eQLBw.png" alt="">
          </span>
          <span class="latest-username2 px-2"> Oana Schandler </span>
        </div>
        <img class="my-3" src="../../assets/image 3.png" alt="">
        <div>
          <span class="latest-hashtags2">#Fitness</span><br>
          <span class="latest-title2">Running a coffee shop and driving positive change</span><br>
          <div class="mt-2 latest-time">
            <span>20 Aug •</span>
            <span class="px-2"><img src="../../assets/fluent_clock-32-regular.png" alt=""></span>
            <span>7-10 mins</span>
          </div>
        </div>

        <div class="mt-2">
          <span class="latest-userimg">
            <img src="../../assets/unsplash_x9cXI2eQLBw.png" alt="">
          </span>
          <span class="latest-username2 px-2"> Oana Schandler </span>
        </div>
        <img class="my-3" src="../../assets/image 3.png" alt="">
        <div>
          <span class="latest-hashtags2">#Fitness</span><br>
          <span class="latest-title2">Running a coffee shop and driving positive change</span><br>
          <div class="mt-2 latest-time">
            <span>20 Aug •</span>
            <span class="px-2"><img src="../../assets/fluent_clock-32-regular.png" alt=""></span>
            <span>7-10 mins</span>
          </div>
        </div>

        <div class="mt-2">
          <span class="latest-userimg">
            <img src="../../assets/unsplash_x9cXI2eQLBw.png" alt="">
          </span>
          <span class="latest-username2 px-2"> Oana Schandler </span>
        </div>
        <img class="my-3" src="../../assets/image 3.png" alt="">
        <div>
          <span class="latest-hashtags2">#Fitness</span><br>
          <span class="latest-title2">Running a coffee shop and driving positive change</span><br>
          <div class="mt-2 latest-time">
            <span>20 Aug •</span>
            <span class="px-2"><img src="../../assets/fluent_clock-32-regular.png" alt=""></span>
            <span>7-10 mins</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- latest section -->
<section class="latest">
  <div class="max-width">

  </div>
</section>

<!-- footer section -->
<footer>
  <div class="footer-container py-5">
    <div class="max-width d-none d-sm-block">
      <div class="row">
        <div class="col-md-3 px-2">
          <span class="footer-logo" style="color: white;">Express</span><br>
          <span class="footer-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </span>
        </div>
        <div class="col-md-3 px-3 text-center">
          <ul class="footer-links">
            <li>Portfolio</li>
            <li>Company</li>
            <li>Careers</li>
            <li>Contact Us</li>
            <li>About Us</li>
          </ul>
        </div>
        <div class="col-md-3 px-3 footer-text">
          <span>Contact Us</span><br><br>
          <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </span>
          <span>+9000 0000 000</span>
        </div>
        <div class="col-md-3 px-2 mt-5 social">
          <div class="footer-img-container mx-1">
            <img src="../../assets/facebook 1.png" alt="">
          </div>
          <div class="footer-img-container mx-1">
            <img src="../../assets/instagram 1.png" alt="">
          </div>
          <div class="footer-img-container mx-1">
            <img src="../../assets/twitter 1.png" alt="">
          </div>
          <div class="footer-img-container mx-1">
            <img src="../../assets/linkedin 1.png" alt="">
          </div>
        </div>
      </div>
      <hr class="my-3" style="color: white;">
      <div class="copyright text-center">
        Copyright ® 2021 Company All rights Rcerved
      </div>

    </div>
  </div>
</footer>