<!-- signup.component.html -->

<section class="page p-5">
    <div class="max-width">
        <div class="row align-items-center">
            <div class="col-md-5 mt-5 px-2 py-5">
                <span>
                    <img class="logo" src="../../assets/logo.png" alt="">
                </span>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6 px-3 ">
                <div class="signup-container px-5 py-3">
                    <img class="brand-logo" src="../../assets/favicon-removebg-preview.png" alt="">
                    <br>
                    <h1 class="welcome-heading">Create an Account</h1>
                    <span class="welcome-text mt-5">
                        Join our community! Sign up for free.
                    </span>

                    <!-- <hr> -->
                    <form class="signup-form mt-4">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="fullName">Full Name</label>
                                    <input type="text" id="fullName" name="fullName" placeholder="Enter your Full Name"
                                        required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" id="email" name="email" placeholder="Enter your Email" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text" id="username" name="userName" placeholder="Enter your Username"
                                        required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="gender">Gender</label>
                                    <select id="gender" name="gender" required>
                                        <option value="" disabled selected>Select your Gender</option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                        <option value="other">Prefer Not to Say</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Choose a Logo</label>
                                    <div class="radio-images d-flex flex-wrap px-4 mt-3">
                                        <div class="logo-option">
                                            <label for="avatar7">
                                                <!-- https://bootdey.com/img/Content/avatar/avatar7.png -->
                                                <img src="../../assets/avatar7.png"
                                                    alt="Logo 1">
                                            </label>
                                            <input type="radio" id="avatar7" name="avatar7" value="https://bootdey.com/img/Content/avatar/avatar7.png">

                                        </div>

                                        <div class="logo-option mx-4">
                                            <label for="avatar8">
                                                <!-- https://bootdey.com/img/Content/avatar/avatar8.png -->
                                                <img src="../../assets/avatar8.png"
                                                    alt="Logo 2">
                                            </label>
                                            <input type="radio" id="avatar8" name="avatar8" value="https://bootdey.com/img/Content/avatar/avatar8.png">
                                        </div>

                                        <div class="logo-option">
                                            <label for="avatar6">
                                                <img src="../../assets/avatar6.png"
                                                    alt="Logo 3">
                                            </label>
                                            <input type="radio" id="avtar6" name="avatar6" value="https://bootdey.com/img/Content/avatar/avatar6.png">
                                        </div>

                                        <div class="logo-option mx-4">
                                            <label for="avatar3">
                                                <img src="../../assets/avatar3.png"
                                                    alt="Logo 4">
                                            </label>
                                            <input type="radio" id="avtar3" name="avtar3" value="https://bootdey.com/img/Content/avatar/avatar3.png">
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" id="password" name="password"
                                        placeholder="Enter your Password" required>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="confirmpassword">Confirm Password</label>
                                    <input type="confirmpassword" id="confirmpassword" name="confirmpassword"
                                        placeholder="Re-Enter your Password" required>
                                </div>
                            </div>

                        </div>
                        <div class="form-group mt-4">
                            <button type="submit">Create Account</button>
                        </div>
                    </form>
                    <h3 class="signup mt-4 px-4 text-center">
                        Already have an account? Welcome back! 😊<br>
                        <a class="signup-text" href="#">Sign in here</a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>