<header class="p-3 text-bg-dark">
    <div class="max-width">
        <div class="container align-items-center">
            <div class="d-flex flex-wrap align-items-center justify-content-between">
                <div class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <h3 class="header-logo">Express</h3>
                </div>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 mx-3" role="search">
                    <input type="search" class="form-control form-control-dark text-bg-light px-2 py-1"
                        placeholder="Search..." aria-label="Search" />
                </form>

                <ul class="nav-menu nav col-12 col-lg-auto mb-2 mb-md-0 ms-lg-auto">
                    <li><a href="#" class="nav-link px-2 text-white">About</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">Premium</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">+ New Blog</a></li>
                </ul>

                <div class="dropdown text-end mx-2">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="mdo" width="32" height="32"
                            class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu py-2 px-3 text-small">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="hashtags-section pt-3">
    <div class="max-width">
        <!-- <div class="row"> -->
            <div class="hashtags-container">
                <mat-icon>add</mat-icon>
                <mat-chip-listbox class="px-2" aria-label="hashtags" multiple>
                    <mat-chip-option class="hashtags">Technology</mat-chip-option>
                    <mat-chip-option>Fitness</mat-chip-option>
                    <mat-chip-option>Health & Wellness</mat-chip-option>
                    <mat-chip-option>Music</mat-chip-option>
                    <mat-chip-option>Movie & Cinema</mat-chip-option>
                    <mat-chip-option>Sustainability</mat-chip-option>
                    <mat-chip-option>Feminism</mat-chip-option>
                    <mat-chip-option>Decor</mat-chip-option>
                    <mat-chip-option>Parenting</mat-chip-option>
                    <mat-chip-option>Self Improvement</mat-chip-option>

                </mat-chip-listbox>
                <mat-icon>chevron_right</mat-icon>
            </div>
        <!-- </div> -->
    </div>
</div>

<section class="blogs">
    <div class="max-width">
        <div class="row">
            <div class="col-md-8 pr-2">
                <div>
                    <img class="my-3 pr-3" src="../../assets/image 2.png" alt="">
                    <span class="blogs-hashtags">#Fitness</span><br>
                    <span class="blogs-title">Running a coffee shop and driving positive change</span><br>
                    <span class="blogs-content">It’s been a while since the last interview we published around here.
                        While I
                        constantly reach out to customers to encourage them to tell their stories on our blog, I can
                        understand
                        their silence. Small businesses have a lot to carry on their shoulders, and especially these
                        days when the
                        turmoil keeps floating around us. </span><a class="read-more" href="">Read more</a>
                    <div class="mt-2 blogs-time">
                        <span>20 Aug •</span>
                        <span class="px-2"><img src="../../assets/fluent_clock-32-regular.png" alt=""></span>
                        <span>7-10 mins</span>
                    </div>

                    <img class="my-3 pt-4 pr-3" src="../../assets/image 2.png" alt="">
                    <div>
                        <span class="blogs-hashtags">#Fitness</span><br>
                        <span class="blogs-title">Running a coffee shop and driving positive change</span><br>
                        <span class="blogs-content">It’s been a while since the last interview we published around here.
                            While I
                            constantly reach out to customers to encourage them to tell their stories on our blog, I can
                            understand
                            their silence. Small businesses have a lot to carry on their shoulders, and especially these
                            days when the
                            turmoil keeps floating around us. </span><a class="read-more" href="">Read more</a>
                        <div class="mt-2 blogs-time">
                            <span>20 Aug •</span>
                            <span class="px-2"><img src="../../assets/fluent_clock-32-regular.png" alt=""></span>
                            <span>7-10 mins</span>
                        </div>
                    </div>

                    <img class="my-3 pt-4 pr-3" src="../../assets/image 2.png" alt="">
                    <div>
                        <span class="blogs-hashtags">#Fitness</span><br>
                        <span class="blogs-title">Running a coffee shop and driving positive change</span><br>
                        <span class="blogs-content">It’s been a while since the last interview we published around
                            here. While I
                            constantly reach out to customers to encourage them to tell their stories on our blog, I can
                            understand
                            their silence. Small businesses have a lot to carry on their shoulders, and especially these
                            days when the
                            turmoil keeps floating around us. </span><a class="read-more" href="">Read more</a>
                        <div class="mt-2 blogs-time">
                            <span>20 Aug •</span>
                            <span class="px-2"><img src="../../assets/fluent_clock-32-regular.png" alt=""></span>
                            <span>7-10 mins</span>
                        </div>
                    </div>

                    <img class="my-3 pt-4 pr-3" src="../../assets/image 2.png" alt="">
                    <div>
                        <span class="blogs-hashtags">#Fitness</span><br>
                        <span class="blogs-title">Running a coffee shop and driving positive change</span><br>
                        <span class="blogs-content">It’s been a while since the last interview we published around
                            here. While I
                            constantly reach out to customers to encourage them to tell their stories on our blog, I can
                            understand
                            their silence. Small businesses have a lot to carry on their shoulders, and especially these
                            days when the
                            turmoil keeps floating around us. </span><a class="read-more" href="">Read more</a>
                        <div class="mt-2 blogs-time">
                            <span>20 Aug •</span>
                            <span class="px-2"><img src="../../assets/fluent_clock-32-regular.png" alt=""></span>
                            <span>7-10 mins</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 px-4 py-3">
                <div class="check-out-more py-3">
                    <div class="row pt-2">
                        <div class="col-md-9 check-out-more-heading">Check out more topics</div>
                        <mat-icon>chevron_right</mat-icon>
                        <mat-chip-listbox class="" aria-label="hashtags" multiple>
                            <mat-chip-option class="hashtags">Technology</mat-chip-option>
                            <mat-chip-option>Fitness</mat-chip-option>
                            <mat-chip-option>Health & Wellness</mat-chip-option>
                            <mat-chip-option>Music</mat-chip-option>
                            <mat-chip-option>Movie & Cinema</mat-chip-option>
                            <mat-chip-option>Sustainability</mat-chip-option>
                            <mat-chip-option>Feminism</mat-chip-option>
                            <mat-chip-option>Decor</mat-chip-option>
                        </mat-chip-listbox>
                    </div>
                </div>
                <div class="discover-writes py-3">
                    <div class="row pt-2">
                        <div class="col-md-9 discover-writers-heading">Discover Writers</div>
                        <mat-icon>chevron_right</mat-icon>
                        <div class="writer mt-3">
                            <div class="row">
                                <div class="col-md-2 container-fluid">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" style="height: 50px; width: 50px; align-items: center;">
                                </div>
                                <div class="col-md-7">
                                    <span class="discover-writer-name">Oana Schandler </span>
                                    <p class="discover-writer-about">Designer at Microsoft | Love to share and help other UX</p>
                                </div>
                                <div class="col-md-3 px-1 py-2">
                                    <button mat-raised-button color="primary">Follow</button>
                                </div>
                            </div>
                        </div>

                        <div class="writer mt-3">
                            <div class="row">
                                <div class="col-md-2 container-fluid">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" style="height: 50px; width: 50px; align-items: center;">
                                </div>
                                <div class="col-md-7">
                                    <span class="discover-writer-name">Oana Schandler </span>
                                    <p class="discover-writer-about">Designer at Microsoft | Love to share and help other UX</p>
                                </div>
                                <div class="col-md-3 px-1 py-2">
                                    <button mat-raised-button color="primary">Follow</button>
                                </div>
                            </div>
                        </div>

                        <div class="writer mt-3">
                            <div class="row">
                                <div class="col-md-2 container-fluid">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" style="height: 50px; width: 50px; align-items: center;">
                                </div>
                                <div class="col-md-7">
                                    <span class="discover-writer-name">Oana Schandler </span>
                                    <p class="discover-writer-about">Designer at Microsoft | Love to share and help other UX</p>
                                </div>
                                <div class="col-md-3 px-1 py-2">
                                    <button mat-raised-button color="primary">Follow</button>
                                </div>
                            </div>
                        </div>

                        <div class="writer mt-3">
                            <div class="row">
                                <div class="col-md-2 container-fluid">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" style="height: 50px; width: 50px; align-items: center;">
                                </div>
                                <div class="col-md-7">
                                    <span class="discover-writer-name">Oana Schandler </span>
                                    <p class="discover-writer-about">Designer at Microsoft | Love to share and help other UX</p>
                                </div>
                                <div class="col-md-3 px-1 py-2">
                                    <button mat-raised-button color="primary">Follow</button>
                                </div>
                            </div>
                        </div>
                        <a class="seemore-text mt-2" href="#">See More</a>

                    </div>
                </div>
                <div class="latest-container">
                    <div class="row pt-2">
                        <div class="col-md-9 latest-heading">Latest</div>
                        <div class="col-md-3 d-flex flex-column align-items-end justify-content-center">
                            <a class="viewall-text" href="#">View all</a>
                        </div>
                    </div>
                    <div class="mt-3">
                        <span class="latest-userimg">
                            <img src="../../assets/unsplash_x9cXI2eQLBw.png" alt="">
                        </span>
                        <span class="latest-username px-2"> Oana Schandler </span>
                    </div>
                    <img class="my-3" src="../../assets/image 3.png" alt="">
                    <div>
                        <span class="latest-hashtags">#Fitness</span><br>
                        <span class="latest-title">Running a coffee shop and driving positive change</span><br>
                        <div class="mt-2 latest-time">
                            <span>20 Aug •</span>
                            <span class="px-2"><img src="../../assets/fluent_clock-32-regular.png" alt=""></span>
                            <span>7-10 mins</span>
                        </div>
                    </div>
                    <div class="mt-4">
                        <span class="latest-userimg">
                            <img src="../../assets/unsplash_x9cXI2eQLBw.png" alt="">
                        </span>
                        <span class="latest-username px-2"> Oana Schandler </span>
                    </div>
                    <img class="my-3" src="../../assets/image 3.png" alt="">
                    <div>
                        <span class="latest-hashtags">#Fitness</span><br>
                        <span class="latest-title">Running a coffee shop and driving positive change</span><br>
                        <div class="mt-2 latest-time">
                            <span>20 Aug •</span>
                            <span class="px-2"><img src="../../assets/fluent_clock-32-regular.png" alt=""></span>
                            <span>7-10 mins</span>
                        </div>
                    </div>
    
                    <div class="mt-4">
                        <span class="latest-userimg">
                            <img src="../../assets/unsplash_x9cXI2eQLBw.png" alt="">
                        </span>
                        <span class="latest-username px-2"> Oana Schandler </span>
                    </div>
                    <img class="my-3" src="../../assets/image 3.png" alt="">
                    <div>
                        <span class="latest-hashtags">#Fitness</span><br>
                        <span class="latest-title">Running a coffee shop and driving positive change</span><br>
                        <div class="mt-2 latest-time">
                            <span>20 Aug •</span>
                            <span class="px-2"><img src="../../assets/fluent_clock-32-regular.png" alt=""></span>
                            <span>7-10 mins</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- editor's pick section -->
<section class="editor">
    <div class="max-width">
        <div class="container">
            <div class="row">
                <div class="col-11 editor-text">
                    Editor's pick
                </div>
                <div class="col-1 viewall-text">
                    <a href="" style="color: #FF964A;">View all</a>
                </div>
            </div>
            <hr>
            <br>
            <div class="row">
                <div class="col-md-4 py-3 px-2">
                    <div class="row">
                        <div class="mt-2">
                            <span class="editors-userimg">
                                <img src="../../assets/unsplash_x9cXI2eQLBw.png" alt="">
                            </span>
                            <span class="editors-username px-3"> Oana Schandler </span>
                        </div>
                        <img class="my-3" src="../../assets/image 1.png" alt="">
                        <div>
                            <span class="editors-hashtags">#Fitness</span><br>
                            <span class="editors-title">Running a coffee shop and driving positive change</span><br>

                            <div class="mt-2 editors-time">
                                <span>20 Aug •</span>
                                <span class="px-2"><img src="../../assets/fluent_clock-32-regular.png" alt=""></span>
                                <span>7-10 mins</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 py-3 px-2">
                    <div class="row">
                        <div class="mt-2">
                            <span class="editors-userimg">
                                <img src="../../assets/unsplash_x9cXI2eQLBw.png" alt="">
                            </span>
                            <span class="editors-username px-3"> Oana Schandler </span>
                        </div>
                        <img class="my-3" src="../../assets/image 1.png" alt="">
                        <div>
                            <span class="editors-hashtags">#Fitness</span><br>
                            <span class="editors-title">Running a coffee shop and driving positive change</span><br>

                            <div class="mt-2 editors-time">
                                <span>20 Aug •</span>
                                <span class="px-2"><img src="../../assets/fluent_clock-32-regular.png" alt=""></span>
                                <span>7-10 mins</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 py-3 px-2">
                    <div class="row">
                        <div class="mt-2">
                            <span class="editors-userimg">
                                <img src="../../assets/unsplash_x9cXI2eQLBw.png" alt="">
                            </span>
                            <span class="editors-username px-3"> Oana Schandler </span>
                        </div>
                        <img class="my-3" src="../../assets/image 1.png" alt="">
                        <div>
                            <span class="editors-hashtags">#Fitness</span><br>
                            <span class="editors-title">Running a coffee shop and driving positive change</span><br>

                            <div class="mt-2 editors-time">
                                <span>20 Aug •</span>
                                <span class="px-2"><img src="../../assets/fluent_clock-32-regular.png" alt=""></span>
                                <span>7-10 mins</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- footer section -->
<footer>
    <div class="footer-container py-5">
        <div class="max-width d-none d-sm-block">
            <div class="row">
                <div class="col-md-3 px-2">
                    <span class="footer-logo" style="color: white;">Express</span><br>
                    <span class="footer-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </span>
                </div>
                <div class="col-md-3 px-3 text-center">
                    <ul class="footer-links">
                        <li>Portfolio</li>
                        <li>Company</li>
                        <li>Careers</li>
                        <li>Contact Us</li>
                        <li>About Us</li>
                    </ul>
                </div>
                <div class="col-md-3 px-3 footer-text">
                    <span>Contact Us</span><br><br>
                    <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </span>
                    <span>+9000 0000 000</span>
                </div>
                <div class="col-md-3 px-2 mt-5 social">
                    <div class="footer-img-container mx-1">
                        <img src="../../assets/facebook 1.png" alt="">
                    </div>
                    <div class="footer-img-container mx-1">
                        <img src="../../assets/instagram 1.png" alt="">
                    </div>
                    <div class="footer-img-container mx-1">
                        <img src="../../assets/twitter 1.png" alt="">
                    </div>
                    <div class="footer-img-container mx-1">
                        <img src="../../assets/linkedin 1.png" alt="">
                    </div>
                </div>
            </div>
            <hr class="my-3" style="color: white;">
            <div class="copyright text-center">
                Copyright ® 2021 Company All rights Rcerved
            </div>

        </div>
    </div>
</footer>